LionsTruck/force-app/main/default/flows/L_CreateOpportunityOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Opportunity_to</name>
        <label>Set Opp Processing Stage</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing Orders</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_values_from_OPP_LI</name>
        <label>Set Order values from OPP LI</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>OrderAux.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLIs_Loop.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderAux.TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLIs_Loop.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderAux.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderAux.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_PLUS_30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderAux.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLIs_Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NOW_PLUS_30</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 30</expression>
    </formulas>
    <interviewLabel>Create Opportunity Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Orders</label>
    <loops>
        <name>OpportunityLIs_Loop</name>
        <label>Iterate Opportunity LIs</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_values_from_OPP_LI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Orders</name>
        <label>Create Orders</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Set_Opportunity_to</targetReference>
        </connector>
        <inputReference>OrderCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLIs_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>HomeScreen</name>
        <label>HomeScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ToProceedMsg</name>
            <fieldText>&lt;p&gt;If you proceed with this action, Orders are going to be automatically created. Are you sure?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HomeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
